
/* styles.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Lato&display=swap');

/* Header */
.top-nav {
background-color: #698269;
padding: 10px;
}

.logo {
max-width: 50%;
height: auto;
border-radius: 50%;
background-color: #FFF;
}

.menu-toggle {
display: none;
}

.menu-button-container {
cursor: pointer;
display: none;
}

.menu-button-container .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
width: 30px;
height: 30px;
}

#navigation {
max-height: 0;
overflow: hidden;
transition: max-height 0.5s cubic-bezier(0.4, 0, 1, 1);
}

#navigation ul {
list-style-type: none;
margin: 0;
padding: 0;
}

#navigation li {
margin-bottom: 10px;
}

#navigation a {
color: white;
text-decoration: none;
font-weight: regular;
font-family: 'Montserrat', sans-serif;
}

#menu-toggle:checked ~ #navigation {
max-height: 500px;
}

/* Content */
html, body {
height: 100%;
display: flex;
flex-direction: column;
}
img {
  max-width: 100%;
  height: auto;
}
h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.content {
flex: 1 0 auto;
padding: 20px;
font-family: 'Lato', sans-serif;
}

.news-item {
text-align: left;
margin-bottom: 20px;
}

.news-item .news-image {
margin-bottom: 30px;
}

.news-item p {
margin-top: 30px;
}

.news-item h2 {
text-align: center;
font-weight: bold;
}

.news-image img {
max-width: 100%;
height: auto;
border-radius: 5px;
margin-bottom: 10px;
}

.carousel-section {
padding: 20px;
}

.carousel-item img {
width: 100%;
height: auto;
}

.carousel-description{
font-size: 16px;
color: #698269;
margin-top: 10px;
margin-bottom: 10px;
}

.product {
background-color: #F2F2F2;
padding: 20px;
border-radius: 5px;
text-align: center;
margin-bottom: 20px;
}

.product img {
width: 100%;
height: 200px;
object-fit: cover;
object-position: center;
}

.product h3 {
font-size: 18px;
margin-top: 10px;
margin-bottom: 20px; 
}

.product p {
font-size: 16px;
color: #333;
margin-bottom: 10px;
}

.product .price {
font-size: 16px;
color: #698269;
margin-bottom: 10px;
}

.product .add-to-cart {
background-color: #698269;
color: white;
border-radius: 5px;
padding: 10px;
border: none;
cursor: pointer;
font-size: 16px;
text-decoration: none;
}

/* Footer */
.footer {
flex-shrink: 0;
background-color: #B99B6B;
padding: 20px;
margin-top: 20px;
font-family: 'Montserrat', sans-serif;
}

.footer-logo {
max-width: 50%;
height: auto;
border-radius: 50%;
background-color: #FFF;
}

.footer-menu {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

.footer-menu li {
display: inline-block;
margin-right: 10px;
}

.footer-menu a {
color: #333;
text-decoration: none;
}

.social-networks {
list-style-type: none;
margin: 0;
padding: 0;
}

.social-networks li {
display: inline-block;
margin-right: 10px;
}

.social-networks img {
width: 30px;
height: 30px;
}

.social-networks a {
color: #333;
text-decoration: none;
}


/* Mobile */
@media (max-width: 991.98px) {
.menu-button-container {
display: block;
}

#navigation {
text-align: right;
}
}

/* Desktop */
@media (min-width: 992px) {
.menu-button-container {
display: none;
}

#navigation {
max-height: none;
display: block;
text-align: right;
}

#navigation ul {
display: flex;
justify-content: flex-end;
}

#navigation li {
margin-bottom: 0;
}
}

/* Fullscreen Background */
.background {
    position: relative;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 500px;
  }
  
  .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
  }
  .title {
    color: #F2F2F2;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .full-width-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .full-width-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  