/* styles.css */

/* Header */
.top-nav {
  background-color: #F1DBBF;
  padding: 10px;
}

.logo {
  max-width: 50%;
  height: auto;
}

.menu-toggle {
  display: none;
}

.menu-button-container {
  cursor: pointer;
  display: none;
}

.menu-button-container .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 30px;
  height: 30px;
}

#navigation {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navigation li {
  margin-bottom: 10px;
}

#navigation a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#menu-toggle:checked ~ #navigation {
  max-height: 500px;
}

/* Content */
.content {
  padding: 20px;
}

/* Footer */
.footer {
  background-color: #F1DBBF;
  padding: 20px;
  margin-top: 20px;
}

.footer-logo {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-menu li {
  display: inline-block;
  margin-right: 10px;
}

.footer-menu a {
  color: #333;
  text-decoration: none;
}

.social-networks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-networks li {
  display: inline-block;
  margin-right: 10px;
}

.social-networks img {
  width: 30px;
  height: 30px; 
}

.social-networks a {
  color: #333;
  text-decoration: none;
}

/* Mobile */
@media (max-width: 991.98px) {
  .menu-button-container {
    display: block;
  }

  #navigation {
    text-align: right; /* Aligns menu to the right */
  }
}

/* Desktop */
@media (min-width: 992px) {
  .menu-button-container {
    display: none;
  }

  #navigation {
    max-height: none; /* Remove max-height limit */
    display: block;
    text-align: left; /* Aligns menu to the left */
  }
  
  #navigation ul {
    display: flex;
    justify-content: space-between;
  }
  
  #navigation li {
    margin-bottom: 0;
  }
}
